/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Kaushan+Script&family=Roboto+Slab:wght@300;400;500&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

/*Wildcard selector to remove default style set by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Roboto Slab', serif;
}

/* Header */
header {
    background-color: #f4a6cd;
    padding: 0 1rem;
    z-index: 1;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}

h4 {
    font-family: 'Kaushan Script', cursive;
    color: #ffffff;
}

#menu {
    list-style-type: none;
    font-family: 'Roboto Slab', serif;
    font-size: 110%;
    letter-spacing: 4px;
    text-transform: uppercase;
    background-color: #f4a6cd;
    color: #ffffff;
}

#menu a:hover {
    color: #3a3a3a;
    border-bottom: 2px solid;
}

#menu>li {
    margin-bottom: 1em;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.pointer {
    font-weight: bolder;
    border-bottom: 1px solid #ffffff;
}

/*Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: #f4a6cd;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
    color: #3a3a3a;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main content*/
main {
    background-color: #ffffff;
    flex: 1 0 auto;
    /* Push main content down to accomodate larger header */
    margin-top: 70px;
}

/* Footer */
footer {
    width: 100%;
    font-family: 'Roboto Slab', serif;
    border-top: 1px solid #ffffff;
    background-color: #f4a6cd;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

footer>span {
    font-size: 100%;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 0 0.5rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

p {
    color: #3a3a3a;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    border-top: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 180%;
    padding: 5%;
    transition-duration: 0.5s;
}

#social-media i:hover {
    color: #3a3a3a;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */

    #menu {
        display: flex;
        font-size: 130%;
    }

    #menu>li {
        padding-left: 2em;
    }

    /* Navbar */

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accomodate larger header */
        margin-top: 98px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
        border-bottom-style: none;
    }
}